.idezet {
  background-image: url("https://images.unsplash.com/photo-1537726235470-8504e3beef77?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60vh;
  padding-top: 9%;
  padding-right: 50px;
  padding-left: 50px;
  color: #fff;

  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start; 
}
.idezet .row {
position: relative;
z-index: 1;
}
@media screen and (max-width: 900px) {
  .margin {
    height: 60vh;
  }
  .hero {
    background-position: right;
    padding-top: 30%;
    height: 80vh;
  }
  .hero .row {
    width: 100%;
  }
  .idezet button{

    height: 60vh;

  }
}


.carousel {
  width: 100%;
  background-color: rgb(242, 242, 249);
  border-radius: 10px;
  text-align: center;
}
.carousel h2{
  font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-size: 25px;
  color: #616ce1;
  padding-bottom: 10px;
  line-height: 1em;
  font-weight: 500;
  line-height: 1.6em;
  margin-top: 60px;
}
.carousel h4{
color: #aaaaaa;
font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
margin-top: -20px;
margin-bottom: 15px;
}


@media screen and (max-width: 1200px) {
.carousel h2{
    font-size: 20px;
}
}

@media screen and (max-width: 780px) {
.carousel h2{
    font-size: 15px;
}
}

@media screen and (max-width: 540px){
.idezet{

  height: 70vh;
  padding-top: 5%;
}

@media screen and (max-width: 400px){
  .carousel h2{
    font-size: 14px;
}
}


@media screen and (max-width: 376px){
  .carousel h2{
    font-size: 12px;
}
}
}